@{
    Layout = "_ProfileLayout";
}

<section class="my-5">
    <div class="row">
        <div class="col-12 col-md-8">
            <h2 class="text-dark mb-3 d-inline-flex">سبد خرید</h2>

            <div class="shadow-sm mx-3 d-inline-flex border px-3 py-2" style="border-radius:20px;">
                <span class="mx-2" style="color: #fb8c6b"><i class="fa fa-wallet mx-2"></i>موجودی : </span>
                <dbo dir="ltr" class="font-weight-bold text-dark mx-1">5.5555.5555</dbo>
                <span class="mx-1">تومان</span>
            </div>

        </div>
        <div class="col-12 col-md-4">
            <div class="pt-2">
                <span class="mx-1" style="color: #fb8c6b;font-size: 18px;"><i class="fa fa-info-circle mx-1"></i></span>
                <a href="#" style="font-size: 13px;color: #fb8c6b;">چگونه پرداخت کنم؟</a> |
                <a href="#" style="font-size: 13px;color: #fb8c6b;">نکات مهم خرید</a>
            </div>
        </div>
    </div>
</section>

<table class="table table-hover table-responsive Profile-table">
    <thead>
        <tr>
            <th scope="col">کالا</th>
            <th scope="col">تاریخ</th>
            <th scope="col">قیمت</th>
            <th scope="col">پرداخت</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <div>
                    <figure class="profile-product-fig shadow-sm bg-white border" style="border-radius: 10px;">
                        <img src="/images/temp/img06.png" />
                    </figure>
                    <h2 class="profile-product-name">مانیتور  SRC240  سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ </h2>
                </div>
            </th>
            <td>
                <span>21 اردیبهشت 1400</span>
            </td>
            <td>
                <div>
                    <bdo dir="ltr">999.000.000</bdo>
                    <span style="color: #b9b9b9;">تومان</span>
                </div>
            </td>
            <td>
                <div class="shadow-sm bg-white border p-3" style="border-radius: 10px;">
                    <figure class="profile-product-fig text-center">
                        <img src="/images/temp/store1.png" style="border-radius: 10px;border: 1px solid #b9b9b9;" />
                    </figure>
                    <div>
                        <p>نممایندگی سامسونگ بهروز  بهروز بهروز بهروز</p>
                        <a href="#" class="profile-transaction">انجام تراکنش با فروشگاه</a>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <a href="#">
                        <span style="font-size: 15px;">
                            <i style="color: #a5a0a0;border-radius: 50%;border: 1px solid #d8d5d5;padding: 2px 4px;" class="fa fa-times "></i>
                        </span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div>
                    <figure class="profile-product-fig shadow-sm bg-white border" style="border-radius: 10px;">
                        <img src="/images/temp/img06.png" />
                    </figure>
                    <h2 class="profile-product-name">مانیتور  SRC240  سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ </h2>
                </div>
            </th>
            <td>
                <span>21 اردیبهشت 1400</span>
            </td>
            <td>
                <div>
                    <bdo dir="ltr">999.000.000</bdo>
                    <span style="color: #b9b9b9;">تومان</span>
                </div>
            </td>
            <td>
                <div class="shadow-sm bg-white border p-3" style="border-radius: 10px;">
                    <figure class="profile-product-fig text-center">
                        <img src="/images/temp/store1.png" style="border-radius: 10px;border: 1px solid #b9b9b9;" />
                    </figure>
                    <div>
                        <p>نممایندگی سامسونگ بهروز  بهروز بهروز بهروز</p>
                        <a href="#" class="profile-transaction">انجام تراکنش با فروشگاه</a>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <a href="#">
                        <span style="font-size: 15px;">
                            <i style="color: #a5a0a0;border-radius: 50%;border: 1px solid #d8d5d5;padding: 2px 4px;" class="fa fa-times "></i>
                        </span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div>
                    <figure class="profile-product-fig shadow-sm bg-white border" style="border-radius: 10px;">
                        <img src="/images/temp/img06.png" />
                    </figure>
                    <h2 class="profile-product-name">مانیتور  SRC240  سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ </h2>
                </div>
            </th>
            <td>
                <span>21 اردیبهشت 1400</span>
            </td>
            <td>
                <div>
                    <bdo dir="ltr">999.000.000</bdo>
                    <span style="color: #b9b9b9;">تومان</span>
                </div>
            </td>
            <td>
                <div class="shadow-sm bg-white border p-3" style="border-radius: 10px;">
                    <figure class="profile-product-fig text-center">
                        <img src="/images/temp/store1.png" style="border-radius: 10px;border: 1px solid #b9b9b9;" />
                    </figure>
                    <div>
                        <p>نممایندگی سامسونگ بهروز  بهروز بهروز بهروز</p>
                        <a href="#" class="profile-transaction">انجام تراکنش با فروشگاه</a>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <a href="#">
                        <span style="font-size: 15px;">
                            <i style="color: #a5a0a0;border-radius: 50%;border: 1px solid #d8d5d5;padding: 2px 4px;" class="fa fa-times "></i>
                        </span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div>
                    <figure class="profile-product-fig shadow-sm bg-white border" style="border-radius: 10px;">
                        <img src="/images/temp/img06.png" />
                    </figure>
                    <h2 class="profile-product-name">مانیتور  SRC240  سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ </h2>
                </div>
            </th>
            <td>
                <span>21 اردیبهشت 1400</span>
            </td>
            <td>
                <div>
                    <bdo dir="ltr">999.000.000</bdo>
                    <span style="color: #b9b9b9;">تومان</span>
                </div>
            </td>
            <td>
                <div class="shadow-sm bg-white border p-3" style="border-radius: 10px;">
                    <figure class="profile-product-fig text-center">
                        <img src="/images/temp/store1.png" style="border-radius: 10px;border: 1px solid #b9b9b9;" />
                    </figure>
                    <div>
                        <p>نممایندگی سامسونگ بهروز  بهروز بهروز بهروز</p>
                        <a href="#" class="profile-transaction">انجام تراکنش با فروشگاه</a>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <a href="#">
                        <span style="font-size: 15px;">
                            <i style="color: #a5a0a0;border-radius: 50%;border: 1px solid #d8d5d5;padding: 2px 4px;" class="fa fa-times "></i>
                        </span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div>
                    <figure class="profile-product-fig shadow-sm bg-white border" style="border-radius: 10px;">
                        <img src="/images/temp/img06.png" />
                    </figure>
                    <h2 class="profile-product-name">مانیتور  SRC240  سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ سامسونگ </h2>
                </div>
            </th>
            <td>
                <span>21 اردیبهشت 1400</span>
            </td>
            <td>
                <div>
                    <bdo dir="ltr">999.000.000</bdo>
                    <span style="color: #b9b9b9;">تومان</span>
                </div>
            </td>
            <td>
                <div class="shadow-sm bg-white border p-3" style="border-radius: 10px;">
                    <figure class="profile-product-fig text-center">
                        <img src="/images/temp/store1.png" style="border-radius: 10px;border: 1px solid #b9b9b9;" />
                    </figure>
                    <div>
                        <p>نممایندگی سامسونگ بهروز  بهروز بهروز بهروز</p>
                        <a href="#" class="profile-transaction">انجام تراکنش با فروشگاه</a>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <a href="#">
                        <span style="font-size: 15px;">
                            <i style="color: #a5a0a0;border-radius: 50%;border: 1px solid #d8d5d5;padding: 2px 4px;" class="fa fa-times "></i>
                        </span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<hr />

<div class="my-4 py-2">
    جمع کل
    <span class="px-3" style="color: #fb8c6b;">999.999.999.555</span>
    تومان
</div>