@model List<StoreViewModel>

<div class="box-cat-prod px-3">
    <div class="row">
        <div class="py-4 px-5 w-100 position-relative">

            <div class="d-inline-block w-100">
                <span class="d-inline-block section-title mt-1 mb-2">فروشگاه های پیشنهادی</span>
                <div class="d-inline-block btn-show-all">
                    <a id="#" href="#">
                        مشاهده همه
                        <img src="/images/ArrowIconLight.png">
                    </a>
                </div>
            </div>

            <div class="w-100 mt-3">
                <div class='swiper-container ' id='swiper06'>
                    <div class="swiper-wrapper">
                        @if (Model == null || Model.Count <= 0)
                        {
                         
                            <h5 class="text-danger">داده ای موجود نیست</h5>
                        }
                        else
                        {
                            @foreach (StoreViewModel store in Model)
                            {
                                <div class="swiper-slide" data-wow-delay="0.2s">
                                    <div class="item-cat-prod">
                                        <figure>
                                            <a href="#"><img src="@store.ImageFeatured" class="rounded-top img-fluid w-100" style="width:435px; height:215px;" /></a>
                                        </figure>
                                        <div class="p-3">
                                            <h3 class="border-0"><a href="#">@store.Name</a></h3>
                                            <div>@store.Category.Name</div>
                                            <div class="mt-2"><span>@store.ProductsCount</span>محصول</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div id='swiper-button-next06' class="swiper-button-next"></div>
                <div id='swiper-button-prev06' class='swiper-button-prev'></div>
            </div>

        </div>
    </div>
</div>