@{
    ViewData["Title"] = "صفحه محصول";
}

<div class="row">

    <div class="col-md-2 col-12">
        <div>

            <div class="mb-3">
                <figure class="shop-single-figure">
                    <img src="/images/temp/store-22.png" class="shop-single-img">
                </figure>
            </div>

            <div class="my-2">
                <h3 class="font-weight-bold" style="font-size: 18px;">
                    گالری پرده دیاموند
                </h3>
                <div class="mt-3 text-muted">مبلمان / دکوراسیون</div>
            </div>

            <hr />

            <div class="bg-white rounded shadow-sm my-3">
                <span class="right-bar-title">محصولات</span>
                <ul class="footer-link-ul" style="padding: 16px 15px 2px;margin: 0;">
                    <li class="footer-link-li"> <a class="footer-a" href="#">ثبت نام در کالابین</a> </li>
                    <li class="footer-link-li"> <a class="footer-a" href="#">مدیریت فروشگاه</a> </li>
                    <li class="footer-link-li"> <a class="footer-a" href="#">جستجو مشاغل</a> </li>
                    <li class="footer-link-li"> <a class="footer-a" href="#">ایجاد فروشگاه</a> </li>
                </ul>
            </div>

            <div class="my-3 rounded shadow-sm">
                <a href="#">
                    <img src="/images/temp/map1414.png" class="w-100 img-fluid rounded mw-100" style="max-height:200px;">
                </a>
            </div>

            <div class="py-3">

                <div class="mb-3">
                    <span class="sp-icon"><i class="fas fa-map-marker-alt"></i></span>
                    <p class="mx-2 d-inline-block">مشهد ، خیابان دانشگاه، دانشگاه2،</p>
                </div>
                <div class="mb-3">
                    <span class="sp-icon"><i class="fas fa-phone"></i></span>
                    <p class="mx-2 d-inline-block">09155555555</p>
                </div>
                <div class="mb-3">
                    <span class="sp-icon"><i class="fas fa-clock"></i></span>
                    <p class="mx-2 d-inline-block">8am - 11pm</p>
                </div>
                <div class="mb-3">
                    <span class="sp-icon"><i class="fas fa-camera-retro"></i></span>
                    <p class="mx-2 d-inline-block">تور مجازی</p>
                </div>
                <div class="mb-3">
                    <span class="sp-icon"><i class="fas fa-link"></i></span>
                    <p class="mx-2 d-inline-block">
                        <a href="#" style="color: #fb8c6b;">https://kalabean.com/</a>
                    </p>
                </div>

            </div>

            <div class="border shadow-sm rounded p-3 mb-3" style="background-color: #fb8c6b;">
                <a href="#" style="color: #fff;">
                    <span style="font-size: 20px;">
                        <i style=" font-weight: bold;" class="fa fa-envelope-open-text"></i>
                    </span>
                    <span class="mx-1">ارسال پیام</span>
                </a>
            </div>

            <div class="bg-white border shadow-sm rounded p-3  mb-4">
                <a href="#">
                    <span style="font-size: 20px;">
                        <i style="color: #fb8c6b; font-weight: bold;" class="fas fa-camera-retro"></i>
                    </span>
                    <span style="color: #8b8b8c;" class="mx-1">تور مجازی</span>
                </a>
            </div>

            <hr />

            <div class="my-4">
                <span class="right-bar-title border-0 p-0">درباره فروشگاه</span>
                <div class="mt-2">
                    <p>درباره فروشگاه درباره فروشگاه درباره فروشگاه درباره فروشگاه </p>
                </div>
            </div>

            <div class="my-3">
                <ul class="icon-social">
                    <li>
                        <a href="https://t.me/" target="_self">تلگرام</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" target="_blank">اینستاگرام</a>
                    </li>
                </ul>
            </div>

            <div class="my-3">
                <span class="d-inline-block" style="color: #fb8c6b;">
                    <i class="fas fa-eye"></i>
                    1978
                </span>
                <p class="d-inline-block text-muted mx-2">بازدید</p>
            </div>

        </div>
    </div>

    <div class="col-md-8 col-12">
        <div class="bg-white border shadow-sm rounded p-4">
            <div class="prod-content">

                <div class="prod-header border-0 pt-2">
                    <h5 class="float-left prod-title text-dark font-weight-bold" id="prodProductTitle">ساتن گلدار سارای</h5>
                    <div class="float-right">
                        <a href="#">
                            <span style="font-size: 20px;">
                                <i style="color: #b1b1b1; font-weight: bold;" class="fa fa-share-alt"></i>
                            </span>
                        </a>
                        <span style="color: #8b8b8c;" class="mx-1">اشتراک گذاری</span>
                    </div>
                </div>

                <div class="prod-body pt-3 mt-2">

                    <div>
                        <span class="mt-3 d-block size-1-10" style="font-size: 11px;color: #b5b8be;"> 1399/08/27</span>
                    </div>

                    <div style="color: #b5b8be;" class="d-inline-block">
                        <span style="color: #43bc55;">999.000.000</span>تومان
                    </div>
                    <div class="d-inline-block position-relative">
                        <div class="store-number product-discounts px-3">
                            <span class="store-name">%20 تخفیف</span>
                        </div>
                    </div>

                    <div class="mb-5 mt-4 row">
                        <div class="col-md-4 col-12">
                            <div class="bg-white border shadow-sm rounded p-3  mt-2 mt-md-0">
                                <a href="#">
                                    <span style="font-size: 20px;">
                                        <i style="color: #43bc55; font-weight: bold;" class="fal fa-shopping-basket"></i>
                                    </span>
                                    <span style="color: #8b8b8c;" class="mx-1">خرید آنلاین این محصول</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="bg-white border shadow-sm rounded p-3  mt-2 mt-md-0">
                                <a href="#">
                                    <span style="font-size: 20px;">
                                        <i style="color: #fb8c6b; font-weight: bold;" class="fal fa-envelope"></i>
                                    </span>
                                    <span style="color: #8b8b8c;" class="mx-1">سوال در مورد محصول</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="my-3 row">
                        <div class="col-12 main-slider">
                            <div class="swiper-container" id="swiper02">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <a href="#"><img class="w-100 img-fluid" src="/images/temp/img11111.png" alt="" title="" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#"><img class="w-100 img-fluid" src="/images/temp/img11111.png" alt="" title="" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#"><img class="w-100 img-fluid" src="/images/temp/img11111.png" alt="" title="" /></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#"><img class="w-100 img-fluid" src="/images/temp/img11111.png" alt="" title="" /></a>
                                    </div>

                                </div>
                                <div class="swiper-button-prev" id="swiper-button-prev02"></div>
                                <div class="swiper-button-next" id="swiper-button-next02"></div>
                            </div>
                        </div>
                    </div>

                    <div class="my-4 row">
                        <div class="col-12">
                            <p class="font-weight-bold text-justify">
                                این پارچه بسیار نرم و لطیف است . این پارچه بسیار نرم و لطیف است .این پارچه بسیار نرم و لطیف است .این پارچه بسیار نرم و لطیف است .این پارچه بسیار نرم و لطیف است .
                                پس حتما این را بخرید.
                                سلام .
                                این یک متن تست است. این یک متن تست است. این یک متن تست است. این یک متن تست است. این یک متن تست است.
                            </p>
                        </div>
                    </div>

                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">دیدگاه های شما</label>
                            <textarea class="form-control" id="message-text" style="background: #f9f9fb;"></textarea>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="col-md-2 col-12">
        <div class="bg-white border shadow-sm rounded p-3 mt-2 mt-md-0">
            <a href="#">
                <span style="font-size: 20px;">
                    <i style="color: #fb8c6b; font-weight: bold;" class="fal fa-arrow-right faa-passing animated-hover"></i>
                </span>
                <span style="color: #8b8b8c;" class="mx-1">بازگشت به فروشگاه</span>
            </a>
        </div>
    </div>

</div>