<!DOCTYPE html>
<html lang="FA" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>کالابین</title>
    <link href="/plugins/bootstrap-4.2.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/bootstrap-4.2.1/css/rtl/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/select2-develop/css/select2.min.css" rel="stylesheet" />
    <link href="/plugins/swiper-5.4.5/css/swiper.min.css" rel="stylesheet" />
    <link href="/plugins/swiper-5.4.5/css/swiper-bundle.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/fontawesome-pro-5.5.0-web/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/imageeffectck/imageeffectck.css" rel="stylesheet" />
    <link href="/plugins/faAnimation/font-awesome-animation.min.css" rel="stylesheet" />
    <link href="/styles/animate-4.1.1.min.css" rel="stylesheet" type="text/css">

    <link href="/styles/MainStyle.css?sh=1" rel="stylesheet" type="text/css">
</head>
<body>

    <header class="header">
        <div class="container-fluid">
            <div class="d-flex w-100 pt-2">
                <div class="header-right" id="HeaderRight">
                    <div class="parent-menu-sp header-border-left" id="ToggleMenu">
                        <span class="menu-sp top"></span>
                        <span class="menu-sp middle"></span>
                        <span class="menu-sp bottom"></span>
                    </div>
                    <div class="login-div">
                        <div class="d-inline-block">
                            <figure class="d-inline-flex">
                                <img src="/images/temp/img11.png" class="rounded-circle" />
                            </figure>
                        </div>
                        <div class="d-inline-block pl-2">
                            <span class="d-block font-weight-bold mb-1">نمایندگی رومانسون</span>

                            <a href="#" class="a-login">
                                <span class="d-sm-inline-block d-none"><!--ورود یا-->پروفایل</span>
                                <i class="fa fa-sign-in d-inline-block d-sm-none"></i>
                            </a>
                            <span class="px-1">|</span>
                            <a href="#" class="a-login">
                                <span class="d-sm-inline-block d-none sp-red">خروج<!--یا عضویت--></span>
                                <i class="fa fa-user d-inline-block d-sm-none"></i>
                            </a>
                        </div>
                    </div>
                    <div class="d-inline-block btn-prod-registration">
                        <a id="#" href="#">
                            <span><i class="fa fa-plus"></i></span>
                            ثبت محصول جدید
                        </a>
                    </div>
                </div>
                <div class="header-left d-inline-block" id="HeaderLeft">
                    <div class=" d-inline-block float-right">
                        <figure>
                            <a href="#">
                                <img class="header-logo-img d-none d-xs-inline" alt="" src="/images/header-logo.png">
                                <img class="header-logo-img header-logo-img-xs d-inline d-xs-none" alt="" src="/images/header-logo-xs.png">
                            </a>
                        </figure>
                    </div>
                    @*<div class="lang-parent d-inline-block float-right">
                        <div class="btn-group">

                            <button class="btn btn-sm Btn-lang dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/images/EN.png" id="#" class="float-right">
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="# ">
                                        <img src="/images/EN.png" id="ImgFlag" style="float:right;padding-left: 10px;">English
                                    </a>
                                </li>
                                <li>
                                    <a href="# ">
                                        <img src="/images/AR.png" id="ImgFlag" style="float:right;padding-left: 10px;">العربی
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>*@

                </div>

                <div class="menu-overlay" id="OverlayMenu">
                    <nav class="overlay-menu">
                        <ul id="navigation">
                            <li class=""><a href="#">صفحه اصلی</a></li>
                            <li>
                                <a href="#" target="">ارتباط با ما</a>
                            </li>
                            <li>
                                <a href="#" target="">درباره ما</a>
                            </li>
                            <li>
                                <a href="#" target="">بازارها</a>
                            </li>
                            <li>
                                <a href="#" target="">فروشگاه ها</a>
                            </li>
                            <li>
                                <a href="#" target="">محصولات</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </header>

    <main class="main-site">
        <div class="container-fluid">

            @RenderBody()

            <footer>
                <section>
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-md-2 align-div mr-lg-4 ml-lg-0 mt-md-5 mt-2 order-1">
                                <div class="mt-md-4"><h4 class="footer-title">دسته بندی ها</h4></div>
                                <ul class="footer-link-ul">
                                    <li class="footer-link-li"> <a class="footer-a" href="#">مجتع های تجاری</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">فروشگاه های زنجیره ای</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">بازارها</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">بهترین ها</a> </li>
                                </ul>
                            </div>

                            <div class="col-12 col-md-2 align-div mr-lg-4 ml-lg-0 mt-md-5 mt-2 order-2">
                                <div class="mt-md-4"><h4 class="footer-title">پنل کاربری</h4></div>
                                <ul class="footer-link-ul">
                                    <li class="footer-link-li"> <a class="footer-a" href="#">پروفایل من</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">ثبت کالای جدید</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">رویدادها</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">علاقه مندی ها</a> </li>
                                </ul>
                            </div>

                            <div class="col-12 col-md-3 text-center mr-md-4 ml-md-0 order-sm-3 order-6">
                                <figure>
                                    <img class="footer-logo" alt="" src="/images/logoFooter.png">
                                </figure>

                                <div>
                                    <a href="#" class="show-blog btn btn-default">بازارگردی اینترنتی</a>
                                </div>

                                <div class="social-div my-2">
                                    <ul class="social-ul">
                                        <li><a href="https://www.youtube.com/hamiholding" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                                        <li><a href="https://instagram.com/hamiholding" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="http://www.hamihollding.com/Rss/projects" target="_self"><i class="fas fa-rss-square"></i></a></li>
                                        <li><a href="https://t.me/hamiholding" target="_blank"><i class="fab fa-telegram"></i></a></li>
                                        <li><a href="https://www.aparat.com/hamiholding" target="_blank"><i class="fas fa-film"></i></a></li>
                                    </ul>
                                </div>

                                <hr />

                                <div class="copyright text-center pt-sm-2">
                                    <div class="py-1"> © 1400 کلیه حقوق و محتوای این سایت متعلق به <span class="copyright-sp">کالابین</span> </div>
                                    <div class="py-2"> طراحی، پیاده سازی و پشتیبانی توسط<a class="intech" target="_blank" href="http://www.intechdev.com/default.aspx" title="توسعه فناوری اطلاعات اینتک"> اینتک</a> </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2 align-div  mr-lg-4 ml-lg-0 mt-md-5 mt-2 order-4">
                                <div class="mt-md-4"><h4 class="footer-title">کالابین</h4></div>
                                <ul class="footer-link-ul">
                                    <li class="footer-link-li"> <a class="footer-a" href="#">ارتباط با ما</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">درباره ما</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">همکاری با ما</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">دریافت اپلیکشن</a> </li>
                                </ul>
                            </div>

                            <div class="col-12 col-md-2 align-div mt-md-5 mt-2 order-5">
                                <div class="mt-md-4"><h4 class="footer-title">راهنما سایت</h4></div>
                                <ul class="footer-link-ul">
                                    <li class="footer-link-li"> <a class="footer-a" href="#">ثبت نام در کالابین</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">مدیریت فروشگاه</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">جستجو مشاغل</a> </li>
                                    <li class="footer-link-li"> <a class="footer-a" href="#">ایجاد فروشگاه</a> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </section>
            </footer>

        </div>
    </main>

    <div id="SupportOnline"><i class="fa faa-pulse animated faa-fast"><img src="/images/SupportOnline.png" /></i></div>
    <a href="#" id="button-to-top"><i class="fal fa-angle-up faa-float animated"></i></a>

    <script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/scripts/popper.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/swiper-5.4.5/js/swiper.min.js"></script>
    <script type="text/javascript" src="/plugins/swiper-5.4.5/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/plugins/imageeffectck/imageeffectck.js"></script>
    <script type="text/javascript" src="/plugins/select2-develop/js/select2.min.js"></script>

    <script type="text/javascript" src="/scripts/scriptPublic.js"></script>
    <script type="text/javascript" src="/scripts/scriptHome.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
