@{
	ViewData["Title"] = "ورود";
}
@model LoginViewModel
<div>
 <form asp-controller="Users" asp-action="Login" method="post">
  <label>UserName :</label>
  <input type="text" asp-for="UserName" />
  <label>Password</label>
  <input type="password" asp-for="Password"/>
  <input type="submit" />
 </form>
</div>
