@{
	ViewData["Title"] = "";
	Layout = "_ProfileLayout";
}
@model VerifyViewModel
<form method="post" asp-controller="Users" asp-action="VerificationCode">
 <input type="hidden" asp-for="VerifyType" />
 <input type="hidden" asp-for="PhoneNumber"/>
 <label>درخواست کد فعال سازی</label>
 <input type="number" asp-for="VerificationCode" />
 <input type="submit" />
</form>