@{
	Layout = "_ProfileLayout";
}
@model ListProductViewModel
<table>
 <thead>
  <tr>Product Name</tr>
 </thead>
	@foreach (var p in Model.Lst)
	{
	 <tbody>
	  <tr>@(p.Name)</tr>
	 </tbody>
	}
</table>