@{
    ViewData["Title"] = "کالابین";
}

<section class="py-2">
    <div class="row">
        <div class="col-12 col-md-3 pr-md-0 pl-md-3">
            <div class="bg-swiper01">
                <div class="swiper-container" id="swiper01">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="d-inline-block p-3 w-100 parent-one-slide">
                                <div class="d-inline-block">
                                    <figure class="d-inline-flex">
                                        <img src="/images/temp/img11.png" class="rounded-circle" />
                                    </figure>
                                </div>
                                <div class="d-inline-block pl-2 pb-2">
                                    <span class="d-block font-weight-bold mb-2">نازنین</span>
                                    <span class="text-muted d-block">یک ساعت پیش</span>
                                    <div class="mt-2">
                                        به دنبال
                                        <h3 class="d-inline-block"><a href="#">کفش</a></h3>
                                        در<h6 class="d-inline-block">تهران</h6> بود
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-inline-block p-3 w-100 parent-one-slide">
                                <div class="d-inline-block">
                                    <figure class="d-inline-flex">
                                        <img src="/images/temp/img11.png" class="rounded-circle" />
                                    </figure>
                                </div>
                                <div class="d-inline-block pl-2 pb-2">
                                    <span class="d-block font-weight-bold mb-2">نازنین</span>
                                    <span class="text-muted d-block">یک ساعت پیش</span>
                                    <div class="mt-2">
                                        به دنبال
                                        <h3 class="d-inline-block"><a href="#">کفش</a></h3>
                                        در<h6 class="d-inline-block">تهران</h6> بود
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-inline-block p-3 w-100 parent-one-slide">
                                <div class="d-inline-block">
                                    <figure class="d-inline-flex">
                                        <img src="/images/temp/img11.png" class="rounded-circle" />
                                    </figure>
                                </div>
                                <div class="d-inline-block pl-2 pb-2">
                                    <span class="d-block font-weight-bold mb-2">نازنین</span>
                                    <span class="text-muted d-block">یک ساعت پیش</span>
                                    <div class="mt-2">
                                        به دنبال
                                        <h3 class="d-inline-block"><a href="#">کفش</a></h3>
                                        در<h6 class="d-inline-block">تهران</h6> بود
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>

                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>

                <div class="d-block position-relative">
                    <div class="swiper-button-prev" id="swiper-button-prev01"></div>
                    <div class="swiper-button-next" id="swiper-button-next01"></div>
                </div>

            </div>
        </div>

        <div class="col-12 col-md-9">
            <div class="search-banner">

                <div class="row select-search-row">
                    <form id="#" class="w-100">
                        <div class="d-inline-block parent-select-search">

                            <div class=" d-inline-block div-select-search first-select-search">
                                <input type="text" placeholder="جستجو کالا و مشاغل شهری" class="form-control input-search-project" id="" name="">
                            </div>

                            <div class="d-inline-block div-select-search">
                                <select class="form-control select-search" id="Location_Id" name="Location_Id">
                                    <option value=""></option>
                                    <option>مشهد</option>
                                    <option>تهران</option>
                                    <option>گرگان</option>
                                    <option>شیراز</option>
                                    <option>اصفهان</option>
                                    <option>تبریز</option>
                                    <option>رشت</option>
                                    <option>کرج</option>
                                    <option>ساری</option>
                                    <option>ایلام</option>
                                    <option>اهواز</option>
                                    <option>بندرعباس</option>
                                    <option>زاهدان</option>
                                    <option>بوشهر</option>
                                    <option>بجنورد</option>
                                    <option>همدان</option>
                                </select>
                            </div>

                            <div class=" d-inline-block  div-select-search">
                                <select class="form-control select-search" id="Region_Id" name="Region_Id">
                                    <option value=""></option>
                                    <option>مشهد</option>
                                    <option>تهران</option>
                                    <option>گرگان</option>
                                    <option>شیراز</option>
                                    <option>اصفهان</option>
                                    <option>تبریز</option>
                                    <option>رشت</option>
                                    <option>کرج</option>
                                    <option>ساری</option>
                                    <option>ایلام</option>
                                    <option>اهواز</option>
                                    <option>بندرعباس</option>
                                    <option>زاهدان</option>
                                    <option>بوشهر</option>
                                    <option>بجنورد</option>
                                    <option>همدان</option>
                                </select>
                            </div>

                            <div class="d-inline-block div-select-search">
                                <button id="#" name="#" type="submit" class="btn-search-prod">
                                    بگرد
                                    <span><i class="fas fa-search faa-burst animated"></i></span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="row" style="padding-right: 50px;">

                    <div class="d-inline-block type-store-parent">
                        <figure class="type-store-figure">
                            <a href="#">
                                <img src="/images/img1213.png" class="type-store-img">
                            </a>
                        </figure>
                        <h2><a href="#">بازارها</a></h2>
                    </div>

                    <div class="d-inline-block type-store-parent">
                        <figure class="type-store-figure">
                            <a href="#">
                                <img src="/images/img1212.png" class="type-store-img">
                            </a>
                        </figure>
                        <h2><a href="#">مجتمع های تجاری</a></h2>
                    </div>

                    <div class="d-inline-block type-store-parent">
                        <figure class="type-store-figure">
                            <a href="#">
                                <img src="/images/img1214.png" class="type-store-img">
                            </a>
                        </figure>
                        <h2><a href="#">فروشگاه های زنجیره ای</a></h2>
                    </div>

                    <div class="d-inline-block type-store-parent">
                        <figure class="type-store-figure">
                            <a href="#">
                                <img src="/images/img1215.png" class="type-store-img">
                            </a>
                        </figure>
                        <h2><a href="#">برترین ها</a></h2>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<section class="w-100 py-2">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 BannerNextToSlider pr-md-0 pl-md-3">
            <aside class="text-center">
                <a href="#">
                    <img src="/images/temp/img07.png" class="effectck-apollo">
                </a>
            </aside>
        </div>

        <div class="col-12 col-sm-6 col-md-9 main-slider">
            <div class="swiper-container" id="swiper02">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#"><img class="w-100 img-fluid" src="/images/temp/img08.png" alt="" title="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"><img class="w-100 img-fluid" src="/images/temp/img08.png" alt="" title="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#"><img class="w-100 img-fluid" src="/images/temp/img08.png" alt="" title="" /></a>
                    </div>
                </div>
                <div class="swiper-button-prev" id="swiper-button-prev02"></div>
                <div class="swiper-button-next" id="swiper-button-next02"></div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="box-cat-prod px-3">
        <div class="row">
            <div class="py-4 px-5 w-100 position-relative">

                <div class="d-inline-block w-100">
                    <span class="d-inline-block section-title mt-1 mb-2">دسته بندی کالاها</span>
                    <div class="d-inline-block btn-show-all btn-show-all-light">
                        <a id="#" href="#">
                            مشاهده همه
                            <img src="/images/ArrowIcon.png">
                        </a>
                    </div>
                </div>

                <div class="w-100 mt-3">
                    <div class='swiper-container ' id='swiper03'>
                        <div class="swiper-wrapper">

                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img06.png" class="p-2" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">کیف و کفش</a></h3>
                                        <div>بیش از<span>250</span>محصول</div>
                                        <div class="mt-2">بیش از<span>50</span>فروشگاه</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img06.png" class="p-2" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">کیف و کفش</a></h3>
                                        <div>بیش از<span>250</span>محصول</div>
                                        <div class="mt-2">بیش از<span>50</span>فروشگاه</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img06.png" class="p-2" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">کیف و کفش</a></h3>
                                        <div>بیش از<span>250</span>محصول</div>
                                        <div class="mt-2">بیش از<span>50</span>فروشگاه</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img06.png" class="p-2" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">کیف و کفش</a></h3>
                                        <div>بیش از<span>250</span>محصول</div>
                                        <div class="mt-2">بیش از<span>50</span>فروشگاه</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class='swiper-button-next' id='swiper-button-next03'></div>
                    <div class='swiper-button-prev' id='swiper-button-prev03'></div>

                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="box-cat-prod px-3">
        <div class="row">
            <div class="py-4 px-5 w-100 position-relative">

                <div class="d-inline-block w-100">
                    <span class="d-inline-block section-title mt-1 mb-2">آخرین مشاغل افزوده شده</span>
                    <div class="d-inline-block btn-show-all btn-show-all-light">
                        <a id="#" href="#">
                            مشاهده همه
                            <img src="/images/ArrowIcon.png">
                        </a>
                    </div>
                </div>

                <div class="w-100 mt-3">
                    <div class='swiper-container ' id='swiper04'>
                        <div class="swiper-wrapper">

                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img05.png" class="rounded-top  img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">مزون رویا</a></h3>
                                        <div class="mt-2">آرایشی و مد</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img05.png" class="rounded-top  img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">مزون رویا</a></h3>
                                        <div class="mt-2">آرایشی و مد</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img05.png" class="rounded-top  img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">مزون رویا</a></h3>
                                        <div class="mt-2">آرایشی و مد</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img05.png" class="rounded-top  img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">مزون رویا</a></h3>
                                        <div class="mt-2">آرایشی و مد</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class='swiper-button-next' id='swiper-button-next04'></div>
                    <div class='swiper-button-prev' id='swiper-button-prev04'></div>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="box-cat-prod px-3">
        <div class="row">
            <div class="py-4 px-5 w-100 position-relative">

                <div class="d-inline-block w-100">
                    <span class="d-inline-block section-title mt-1 mb-2">آخرین محصولات افزوده شده</span>
                    <div class="d-inline-block btn-show-all btn-show-all-light">
                        <a id="#" href="#">
                            مشاهده همه
                            <img src="/images/ArrowIcon.png">
                        </a>
                    </div>
                </div>

                <div class="w-100 mt-3">
                    <div class='swiper-container ' id='swiper05'>
                        <div class="swiper-wrapper">

                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img04.png" class="p-2 img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">IEDS دوچرخه کوروس</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img04.png" class="p-2 img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">IEDS دوچرخه کوروس</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img04.png" class="p-2 img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">IEDS دوچرخه کوروس</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img04.png" class="p-2 img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3><a href="#">IEDS دوچرخه کوروس</a></h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class='swiper-button-next' id='swiper-button-next05'></div>
                    <div class='swiper-button-prev' id='swiper-button-prev05'></div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="text-center py-3">
    <div class="row">
        <div class="banners-publicity col-12 col-sm-4 pr-2 pl-3">
            <figure>
                <a href="#"><img src="/images/temp/img03.png" class="effectck-apollo"></a>
            </figure>
        </div>
        <div class="banners-publicity col-12 col-sm-4 px-2">
            <figure>
                <a href="#"><img src="/images/temp/img03.png" class="effectck-apollo"></a>
            </figure>
        </div>
        <div class="banners-publicity col-12 col-sm-4 pl-2 pr-3">
            <figure>
                <a href="#"><img src="/images/temp/img03.png" class="effectck-apollo"></a>
            </figure>
        </div>
    </div>
</section>

<section>
    <div class="box-cat-prod px-3">
        <div class="row">
            <div class="py-4 px-5 w-100 position-relative">

                <div class="d-inline-block w-100">
                    <span class="d-inline-block section-title mt-1 mb-2">فروشگاه های پیشنهادی</span>
                    <div class="d-inline-block btn-show-all">
                        <a id="#" href="#">
                            مشاهده همه
                            <img src="/images/ArrowIconLight.png">
                        </a>
                    </div>
                </div>

                <div class="w-100 mt-3">
                    <div class='swiper-container ' id='swiper06'>
                        <div class="swiper-wrapper">

                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img12.png" class="rounded-top img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3 class="border-0"><a href="#">محصولات فرهنگی صافات</a></h3>
                                        <div>محصولات فرهنگی</div>
                                        <div class="mt-2"><span>250</span>محصول</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img12.png" class="rounded-top img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3 class="border-0"><a href="#">محصولات فرهنگی صافات</a></h3>
                                        <div>محصولات فرهنگی</div>
                                        <div class="mt-2"><span>250</span>محصول</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img12.png" class="rounded-top img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3 class="border-0"><a href="#">محصولات فرهنگی صافات</a></h3>
                                        <div>محصولات فرهنگی</div>
                                        <div class="mt-2"><span>250</span>محصول</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img12.png" class="rounded-top img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3 class="border-0"><a href="#">محصولات فرهنگی صافات</a></h3>
                                        <div>محصولات فرهنگی</div>
                                        <div class="mt-2"><span>250</span>محصول</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-wow-delay="0.2s">
                                <div class="item-cat-prod">
                                    <figure>
                                        <a href="#"><img src="/images/temp/img12.png" class="rounded-top img-fluid w-100" /></a>
                                    </figure>
                                    <div class="p-3">
                                        <h3 class="border-0"><a href="#">محصولات فرهنگی صافات</a></h3>
                                        <div>محصولات فرهنگی</div>
                                        <div class="mt-2"><span>250</span>محصول</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id='swiper-button-next06' class="swiper-button-next"></div>
                    <div id='swiper-button-prev06' class='swiper-button-prev'></div>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="my-4 w-100 text-mainColor text-center font-weight-bold">
            <span class="">وبلاگ</span>
        </div>

        <div class="col-12   col-lg-6">
            <div class="first-blog ">
                <figure class="blog-figure d-inline-block mb-0 float-left">
                    <a href="#"><img class="blog-img" src="/images/temp/img01.png" /></a>
                </figure>
                <div class="d-inline-block m-3 mr-0">
                    <span class="text-white">دو روز پیش</span>
                    <h3><a class="blog-a" href="#">معروف ترین بازارهای تهران</a></h3>
                    <p>معروف ترین بازارهای تهرانمعروف ترین بازارهای تهرانمعروف ترین بازارهای تهرانمعروف ترین بازارهای تهرانمعروف ترین بازارهای تهران</p>
                    <div class="btn-blog">
                        <a id="#" href="#">
                            ادامه
                            <img src="/images/ArrowIconLight.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-3 mt-2 mt-lg-0">
            <div class="second-blog">
                <figure class="blog-figure">
                    <a href="#"><img class="blog-img" src="/images/temp/img02.png" /></a>
                </figure>
                <div class="d-inline-block w-100 p-3">
                    <span class="text-white">دو روز پیش</span>
                    <h3><a class="blog-a" href="#">چگونه محصولات خود را پرفروش سازیم؟</a></h3>
                    <div class="btn-blog">
                        <a id="#" href="#">
                            ادامه
                            <img src="/images/ArrowIconLight.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-3 mt-2 mt-lg-0">
            <div class="thirdly-blog">
                <figure class="blog-figure">
                    <a href="#"><img class="blog-img" src="/images/temp/img02.png" /></a>
                </figure>
                <div class="d-inline-block w-100 p-3">
                    <span class="text-white">دو روز پیش</span>
                    <h3><a class="blog-a" href="#">معروف ترین بازارهای تهران</a></h3>
                    <div class="btn-blog">
                        <a id="#" href="#">
                            ادامه
                            <img src="/images/ArrowIconLight.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center w-100 d-block my-5">
            <a href="#" class="show-blog btn btn-default">مشاهده وبلاگ</a>
        </div>

    </div>
</section>

<section class="text-center">
    <div class="row">
        <div class="banners-publicity col-12">
            <figure>
                <a href="#"><img class="img-publicity" src="/images/App.png" /></a>
            </figure>
        </div>
    </div>
</section>